html,body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.navtag {
    background-color: #34495e;
    width: 100%;
    margin: auto;
    height: 60px;
    font-size: 30px;
    border-bottom: 4px solid orange;
    padding-top: 20px;
}

.outer {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.navtag a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 20px;
}

.bodyinner {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: inherit;
}

.left {
    width: 33%;
    height: 99.4%;
    border-right: 3px solid orange;
    border-bottom: 3px solid orange;
}
.right {
    width: 77%;
    height:  99.4%;
    border-bottom: 3px solid orange;
}

@media only screen and (max-width: 300px)
{
    body {
        display: none;
    } 
}
@media only screen and (max-width: 321px)
{
    span{
        display:none;
    }  
}


